/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$pink: #A37777;
$light-pink: #DFAEAE;
$red: #872C2C;
$light-red: #DB5050;
$blue: #2B575B;
$light-blue: #5BB0B8;
$purple: #592666;
$light-purple: #B855D3;
